{{content-header title=title}}
<section class="content">
	<div class="box">
		{{add-search-form query=query searchPlaceholder=searchPlaceholder isShowingAdd=isShowingAdd toggleAdd=(action "toggleAdd")}}
		<div class="box-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						{{#each columnsName as | column |}}
						<th>
							{{column}}
						</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each model as | datum index |}}
					<tr>
						<td width="5%">{{basic-math index "+" firstRowNumber}}</td>
						<td width="10%">{{datum.date}}</td>
                        <td width="30%">{{datum.number}}</td>
                        <td width="55%">{{datum.content}}</td>
					</tr>
					{{else}}
					<tr>
						<td>0</td>
						<td colspan="3">Tidak Terdapat Data</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div><!-- /.box-body -->
		{{pagination-footer limit=limit page=page total=total firstRowNumber=firstRowNumber}}
	</div><!-- /.box -->
</section>
{{#if isShowingAdd}}
{{#modal-dialog close="toggleAdd" translucentOverlay=true}}
{{administrator-letters-add model=model toggleAdd=(action "toggleAdd")}}
{{/modal-dialog}}
{{/if}}
