<div class="wrapper">
    {{#if isAdministrator}}
    {{administrator-application}}
    {{else if isManager}}
    {{manager-application}}
    {{else if isUser}}
    {{user-application}}
    {{else if isGuest}}
    {{guest-application}}
    {{/if}}
</div>
