{{content-header title=title}}
<section class="content">
	<div class="box">
		{{search-form query=query searchPlaceholder=searchPlaceholder}}
		<div class="box-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						{{#each columnsName as | column |}}
						<th>
							{{column}}
						</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each model as | datum index |}}
					<tr>
						<td width="5%">{{basic-math index "+" firstRowNumber}}</td>
						<td width="95%">{{datum.name}}</td>
					</tr>
					{{else}}
					<tr>
						<td>0</td>
						<td>Tidak Terdapat Data</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div><!-- /.box-body -->
		{{pagination-footer limit=limit page=page total=total firstRowNumber=firstRowNumber}}
	</div><!-- /.box -->
</section>
